{% extends 'base.html' %}
{% block titulo%}
    Ver Donaciones
{% endblock %}
{% block content %}
    <div class="main-container">
        <table class="table">
            <tr>
                <th scope="col">Comuna</th>
                <th scope="col">Tipo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre</th>
                <th scope="col">Foto</th>
            </tr>
            <tr style="cursor: pointer" onclick= "window.location='./informacion-donacion.html'">
                <td>Petorca</td>
                <td>fruta</td>
                <td>1,2 Kg</td>
                <td>2023-03-10</td>
                <td>Martín García</td>
                <td><img 
                    style="cursor: pointer" 
                    onclick="window.location=
                    'https://www.freepik.es/foto-gratis/vista-superior-manzanas-colores-bolsa-arpillera-sobre-superficie-verde_9637207.htm#query=kilo%20de%20manzanas&position=14&from_view=search&track=ais'
                    " 
                    src="../imagenes/vista-superior-manzanas-colores-bolsa-arpillera-sobre-superficie-verde.jpg" 
                    class="rounded float-start" alt="Foto de Donación" width="120" height="120"></td>
            </tr>
            <tr>
                <td>Teno</td>
                <td>vegetales</td>
                <td>5 unidades</td>
                <td>2023-03-08</td>
                <td>Cristián Cárcamo</td>
                <td><img 
                    src="../imagenes/cucumber-g2d728b6c7_1280.jpg" 
                    class="rounded float-start" alt="Foto de Donación" width="120" height="120"></td>
            </tr>
            <tr>
                <td>Cobquecura</td>
                <td>otro</td>
                <td>7 manojos</td>
                <td>2023-04-01</td>
                <td>Sebastián Morales</td>
                <td><img
                    style="cursor: pointer" 
                    onclick="window.location=
                    'https://www.freepik.es/foto-gratis/variedad-hierbas-organicas-frescas-lechuga-rucula-eneldo-menta-lechuga-roja-cebolla-sobre-fondo-gris-estilo-rustico-vista-superior_6654463.htm#query=manojo%20de%20hierbas&position=42&from_view=search&track=ais'
                    "
                    src="../imagenes/variedad-hierbas-organicas-frescas-lechuga-rucula-eneldo-menta-lechuga-roja-cebolla-sobre-fondo-gris-estilo-rustico-vista-superior.jpg" 
                    class="rounded float-start" alt="Foto de Donación" width="120" height="120"></td>
            </tr>
            <tr>
                <td>Lampa</td>
                <td>Fruta</td>
                <td>2 sacos</td>
                <td>2023-04-05</td>
                <td>Yolanda Rojas</td>
                <td>
                    <img 
                    style="cursor: pointer" 
                    onclick="window.location=
                    'https://www.freepik.es/foto-gratis/fruta-fresca-naranja-jugosa-sobre-rosa-claro_5497516.htm#query=saco%20de%20naranja&position=2&from_view=search&track=ais'
                    " 
                    src="../imagenes/fruta-fresca-naranja-jugosa-sobre-rosa-claro.jpg" 
                    class="rounded float-start" alt="Foto de Donación" width="120" height="120">
                </td>
            </tr>
            <tr>
                <td>Aysen</td>
                <td>Fruta</td>
                <td>1,5 bolsas</td>
                <td>2023-03-30</td>
                <td>Cristina Aguilera</td>
                <td><img 
                    src="../imagenes/strawberries-g3e29408df_1280.jpg" 
                    class="rounded float-start" alt="Foto de Donación" width="120" height="120"></td>
            </tr>
        </table>
    </div>
    <form  action="{{ url_for('index') }}">
        <input class="btn btn-warning" type="submit" value="Volver a Inicio">
    </form>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
{% endblock %}